<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Seigo2016's-Portfolio</title>
    <link async href="semantic/dist/semantic.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vanilla-semantic-ui@0.0.1/dist/vanilla-semantic.min.css"> -->
    <script src="static/js/lazyload.min.js"></script>
    <link async href="static/css/main.css" rel="stylesheet">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb article: http://ogp.me/ns/article#">
    <meta property="og:url" content="https://seigo2016.com" />  
    <meta property="og:type" content="website" />  
    <meta property="og:title" content="seigo2016のポートフォリオ" />
    <!-- <script data-ad-client="ca-pub-6083391768192122" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</head>