<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Seigo2016's-Portfolio</title>
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link async href="static/css/main.css" rel="stylesheet">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb article: http://ogp.me/ns/article#">
    <meta property="og:url" content="https://seigo2016.com" />  
    <meta property="og:type" content="website" />  
    <meta property="og:title" content="seigo2016のポートフォリオ" />
</head>
<body>
    <header>
        <ul class="flex">
            <li class="mr-4">
              <a class="inline-block border border-black-500 rounded py-1 px-3 bg-white-500 text-black" href="/">Home</a>
            </li>
            <li class="mr-3">
              <a class="inline-block border border-white rounded hover:border-gray-200 text-black-500 hover:bg-gray-200 py-1 px-3" href="https://twitter.com/seigo2018">Twitter</a>
            </li>
        </ul>
        <div class="top-header">
            <div class="title-name">seigo2016  Portfolio</div>
        </div>
    </header>