<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Seigo2016's-Portfolio</title>
    <link async href="semantic/dist/semantic.min.css" rel="stylesheet">
    <script src="static/js/jquery-3-4-1.min.js"></script>
    <script src="static/js/jquery.lazyload.js"></script>
    <link async href="static/css/main.css" rel="stylesheet">
    <script async src="static/js/main.js"></script>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb article: http://ogp.me/ns/article#">
    <meta property="og:url" content="https://seigo2016.com" />  
    <meta property="og:type" content="website" />  
    <meta property="og:title" content="seigo2016のポートフォリオ" />
    <!-- <script data-ad-client="ca-pub-6083391768192122" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</head>

<body>
    <header>
        <div class="ui secondary  menu">
            <a class="item active header-text">Home</a>
            <a class="item header-text" href="https://github.com/seigo2016/" target="_blank">Github</a>
            <a class="item header-text" href="https://twitter.com/seigo2018" target="_blank">Twitter</a>
        </div>
    </header>
    <div class="top-header">
        <div class="title-name">seigo2016  Portfolio</div>
    </div>
    <div class="content">
    <div class="ui four column grid stackable centered doubling ">
        {top}
    </div>
    {modal_body}
    <!-- スキル -->
    <div class="ui stackable profile column cert right aligned">
        <p class="ui large header">スキル</p>
        <table class="ui  celled table">
            <!-- <div class="ui medium header">Language</div> -->
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Description</th>
                    <th>Related Skill</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Language">Python</td>
                    <td data-label="Description">現在のメイン言語。Webアプリケーション制作がメイン</td>
                    <td>flask, selenium, numpy, opencv etc...</td>
                </tr>
                    <td data-label="Language">Node.js</td>
                    <td data-label="Description">Electronと共に扱うことが多い言語</td>
                    <td data-lebel="Related Skill">Electron, sharp, jimp</td>
                </tr>
                </tr>
                    <td data-label="Language">JavaScript</td>
                    <td data-label="Description">FlaskでWebアプリを作成する際に利用</td>
                    <td data-lebel="Related Skill">jQuery, Sortable.js</td>
                </tr>
                </tr>
                    <td data-label="Language">Go Lang</td>
                    <td data-label="Description">現在勉強中</td>
                    <td data-lebel="Related Skill"></td>
                </tr>
                </tr>
                    <td data-label="Language">C / C++</td>
                    <td data-label="Description">競技プログラミングで使用するために勉強中</td>
                    <td data-lebel="Related Skill"></td>
                </tr>
            </tbody>
        </table>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Hardware</th>
                    <th>Description</th>
                    <th>Related Skill</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Hardware">Raspberry Pi</td>
                    <td data-label="Description">Linuxサーバーや，k8sClusterの作成，電子工作に利用</td>
                    <td data-label="Related Skill">Python, GPIO, k8s, Debian, Raspbian</td>
                </tr>
                <tr>
                    <td data-label="Hardware">micro:bit</td>
                    <td data-label="Description"></td>
                    <td data-label="Related Skill"></td>
                </tr>
                <tr>
                    <td data-label="Hardware">ESP32</td>
                    <td data-label="Description"></td>
                    <td data-label="Related Skill">Arduino IDE</td>
                </tr>
                <tr>
                    <td data-label="Hardware">Arduino</td>
                    <td data-label="Description"></td>
                    <td data-label="Related Skill"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 資格 -->
    <div class="ui stackable profile column cert right aligned">
        <p class="ui large header">取得資格</p>
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td>情報検定 情報活用試験1級</td>
                </tr>
                <tr>
                    <td>情報検定情報システム試験 基本スキル・プログラミングスキル プログラマ認定</td>
                </tr>
                <tr>
                    <td>ITパスポート試験</td>
                </tr>
                <tr>
                    <td>実用英語技能検定準2級</td>
                </tr>
                <tr>
                    <td>日本漢字能力検定2級</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 受賞歴 -->
    <p class="large"></p>
    <div class="ui stackable profile column cert right aligned">
        <p class="ui large header">受賞歴</p>
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td>たのしいmicro:bitコンテスト2019 特別賞</td>
                </tr>
                <tr>
                    <td>U22プログラミングコンテスト2019 入賞・日本事務器賞</td>
                </tr>
                <tr>
                    <td>みんなのラズパイコンテスト RaspberryPi財団賞</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="semantic/dist/components/transition.js"></script>
<script src="semantic/dist/semantic.min.js"></script>
<link async href="semantic/dist/components/transition.css" rel="stylesheet">
</html>