<div class="w-full m-1 flex">
    <img class="object-cover w-1/6" src={image} alt="" loading="lazy">
    <div class="w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8 w-full">
        <div class="text-gray-900 font-bold text-xl mb-2">{title}</div>
        <p class="text-gray-700 text-base">{description}</p>
      </div>
      <div class="flex">
        {tag}
      </div>
    </div>
</div>