<button id="openModal" onclick="openModal('{define}')">Open modal</button>
<!-- <section id="{define}" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <h1 style="text-align: center;">{title}</h1>
        <p>{tag}</p>
        <div style="margin: 0 auto; width: 80%; left: 0; text-align: center;">
            <p>{description}</p>
        </div>
        <div class="image-content">
            {image}
        </div>
        {movie}
      </div>
      <div id="closeModal" class="closeModal" onclick="closeModal('{define}')">
        ×
      </div>
    </div>
</section> -->