@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
/*  */
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
}
.fab {
  font-style: normal;
}
/* NavBar */
.nav-list {
  margin-top: 0;
  background: white;
  display: flex;
  padding: 1vw 0;
  justify-content: center;
  align-items: center;
  border-bottom: solid 4px whitesmoke;
  border-radius: 3px;
}
.nav-item {
  margin-left: 3vw;
  padding: 5px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: gray;
}

.title {
  margin-left: 1.5vw;
  margin-bottom: 0;
}

.container {
  width: 95%;
  margin: auto;
}

.skill,
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 80%;
  object-fit: contain;
  min-height: 3vw;
}

.card {
  width: 32%;
  height: auto;
  border: solid 1px whitesmoke;
  min-width: 32%;
}

.card-mini {
  width: 10%;
  height: auto;
  border: solid 1px whitesmoke;
  min-width: 10%;
}

.card-title {
  width: 100%;
  height: auto;
  padding: 1vw 1vw;
  background: white;
  box-sizing: border-box;
  text-align: center;
  font-size: 26px;
}

.card-img {
  max-width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 0%;
}

.card-text {
  margin: 1vw;
  text-align: center;
  font-size: 18px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.arch-ul {
  margin: auto;
  width: 65%;
  padding: 1.5vw 1.5vw 1.5vw 2vw;
  box-shadow: 0px 0px 3px silver;
  display: table;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px whitesmoke;
}
.about-ul {
  width: 55%;
  box-shadow: none;
  border: none;
  font-size: 20px;
}

.arch-ul li {
  margin: auto;
  line-height: 1.5;
  padding: 0.5vw 0;
  list-style-type: none;
}

.arch-ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  margin-right: 2vw;
}

.tag {
  display: inline-block;
  margin: 0 0.2 0.4vw 0;
  padding: 0.2vw;
  line-height: 1;
  color: gray;
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
}

.tag-list {
  text-align: center;
  margin: 1vw;
}

.project-card-img {
  max-width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 0%;
}

@media screen and (max-width: 720px) {
  body {
    font-size: calc(18px + ((1vw - 6.4px) * 3.571));
  }
  h1 {
    font-size: calc(36px + ((1vw - 6.4px) * 3.571));
  }
  h2 {
    font-size: calc(32px + ((1vw - 6.4px) * 3.571));
  }
  .title {
    text-align: center;
  }

  .arch-ul li {
    margin-left: 2vw;
  }
  .card {
    width: 98%;
    height: auto;
    border: solid 1px whitesmoke;
    min-width: 98%;
  }
  .card-mini {
    width: 30%;
    height: auto;
    border: solid 1px whitesmoke;
    min-width: 30%;
  }
  .menu {
    justify-content: center;
  }
  .nav-item {
    font-size: calc(24px + ((1vw - 6.4px) * 3.571));
  }
}
