@font-face{
    font-family: "honokamarugo";
    src: url("font_1_honokamarugo_1.1.ttf");
    font-display: swap;
}
/*  */
body{
    font-family: "honokamarugo", sans-serif;
}

/* NavBar */
.nav-list {
    margin-top: 0;
    background: white;
    display: flex;
    padding: 1vw 0;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 4px whitesmoke;
    border-radius: 3px;
}
.nav-item {
    margin-left: 3.5vw;
    padding: 5px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: gray;
}

.title{
    margin-left: 40px;
    margin-bottom: 0;
}

.container{
    width: 95%;
    margin: auto;
}

.skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 32%;
    height: auto;
    border: solid 1px whitesmoke;
    min-width: 32%;
}

img{
    width: 80%;
    object-fit: contain;
    min-height: 20vw;
}

.card-title{
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: white;
    box-sizing: border-box;
    text-align: center;
    font-size: 26px;
}

.card-img{
    max-width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 0%;
}
.card-text{
    margin: 1vw;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 18px;
}

.arch-ul {
    padding: 1.5vw 1.5vw 1.5vw 2vw;
    box-shadow :0px 0px 3px silver;
    border: solid 1px whitesmoke;
    position: relative;
    margin-left: 1vw;
}
.about-ul {
    box-shadow : none;
    border: none;
    font-size: 20px;
}
  
.arch-ul li {
    line-height: 1.5;
    padding: 0.5vw 0;
    list-style-type: none;
}

.arch-ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    position: absolute;
    font-weight: 900;
    left : 1vw;
}

.tag {
	display: inline-block;
	margin: 0 0.2 0.4vw 0;
	padding: 0.2vw;
	line-height: 1;
	color: gray;
	background-color: white;
	border: 1px solid gray;
    border-radius: 2px;
}

.tag-list {
    text-align: center;
    margin: 1vw;
}

.project-card-img{
    max-width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 0%;
}

@media screen and (max-width: 1080px) {
    body{
        font-size: calc(16px + ((1vw - 6.4px)*3.571));
    }
    .arch-ul li {
        margin-left: 2vw;
    }
    .card{
        width: 48%;
        height: auto;
        border: solid 1px whitesmoke;
        min-width: 48%;
    }
}
