---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Profile from '../components/Profile.astro';
---

<Layout title="seigo2016 Portfolio">
	<main class="w-full">
		<div>
			<Header />
		</div>
		<div>
			<Profile />
		</div>
	</main>
</Layout>