---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="seigo2016 Portfolio">
	<main class="w-full">
		<Header>
		<Header />
	</main>
</Layout>