---
const name = 'Seigo Kawachi';
const handle = 'seigo2016';
const affiliation = 'Tokyo Institute of Technology';
---

<div class="container justify-center w-full flex items-center gap-8">
  <div> 
    <img src="static/images/seigo2016-icon-small.svg" class="h-32"/>
  </div>
  <div class="text-center h-full">
    <h1 class="text-2xl font-bold">{ name }</h1>
    <h2 class="text-lg text-gray-600">{ handle }</h2>
    <h3 class="text-lg text-gray-600">{ affiliation }</h3>
  </div>
</div>

